<footer>
    <div id="handles">
        <a href="https://www.instagram.com/rujin_shrestha/" target="_blank"><i id="insta" class="fab fa-instagram"></i></a>
        <a href="https://github.com/TheNyachhon" target="_blank"><i id="git" class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/rujin-shrestha-654080193/" target="_blank"><i id="link" class="fab fa-linkedin-in"></i></a>
    </div>
    <div id="footer-content">
        <p>Made with ♥ by Rujin Shrestha</p>
        <p>All rights reserved - Copyrights@2021</p>
    </div>
</footer>
<script src="/index.js"></script>