<header id="tocollapse">
    <nav>
        <div id="brand">   
            THE BANK
        </div>
        <div id="menu">
            <ul>
                <a href="/" class="nav-items">
                    <li>Home</li>
                </a>
                <a href="/customers" class="nav-items">
                    <li>Customers List</li>
                </a>
                <a href="/transactions" class="nav-items">
                    <li>Transaction History</li>
                </a>
            </ul>
        </div>
    </nav>
</header>